!= css('bootstrap/dist/css/bootstrap.min.css')
//- != css('team-report/style')

.container

    .row
        .col-xs-12.text-center
            h1 HELLELELELELELooooo
            
            
    .row
        .col-sm-1
        .col-sm-3.text-center
            img(src='/images/julio-jones.png')
        .col-sm-1
        .col-sm-6.text-center
            canvas(id="fantasy_points_chart", width="400", height="250")
            canvas(id="defense_points_given_chart", width="400", height="250")
        .col-sm-1







h1 #{team_abbr}









!= js('jquery/dist/jquery.min.js')
!= js('bootstrap/dist/js/bootstrap.min.js')
!= js('Chart.js/Chart.min.js')
!= js('team-report/app.js')
